* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

li {
  display: list-item;
  list-style-position: inside;
}

h1{
  background: rgb(0, 238, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

dfn{
  color: orangered;
}

* {
  margin: 0;
  padding: 0;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

li {
  margin-bottom: 20px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.jumbotron {
  padding-top: 90px;
}

.jumbotron h1 {
  color: white;
  font-size: 60px;
}

table {
  width: 100%;
  border: 5px solid rgb(51, 137, 249);
  background: rgb(255, 255, 255,);
  padding-bottom: 50px;
}

td {
  border:3px solid rgb(51, 137, 249);
  padding: 5px 10px;
  text-align: center;
}

hr {
  border-color: white; 
}

.active,
.demo:hover {
  opacity: 1;
}


nav {
  background: #0052eb;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set black background color, white text and some padding */
footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #555;
  color: white;
  padding: 15px;
  text-align: center;
}