li {
  display: list-item;
  list-style-position: inside;
}

h1{
  background: rgb(0, 238, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

dfn{
  color: orangered;
}

.link {
  margin-bottom: 10px;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
}

#big {
  font-size: 20px;
}

p {
  padding: 0 0 20px 0;
  line-height: 1.7em;
}

.content {
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 150px;
  margin-left: 150px;
}

li {
  margin-bottom: 20px;
}

.txt {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
}

.link {
  margin-bottom: 10px;
  font-size: 20px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

body, html {
  background-image: url('img/back.png');
  background-attachment: fixed;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 100%;
  border: 3px solid rgb(51, 137, 249);
  background: rgb(255, 255, 255,);
  padding-bottom: 50px;
}

th {
  border:3px solid rgb(51, 137, 249);;
  padding: 5px 10px;
  text-align: center;
}

tr{
  text-align: center;
}

hr {
  border-color: white; 
}

#pad {
  padding: 100px;
}

#center {
  text-align: center;
  margin: 30px;
}

.content_h2 {
  margin-bottom: 15px;
  font-weight: 500;
}

.active,
.demo:hover {
  opacity: 1;
}


nav {
  background: #ffffff;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav a.active,
nav a:hover {
  background: #1b9bff;
  transition: .5s;
}

a:hover {
  padding : 5px, 5px, 5px;
  background:lightblue;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #555;
  color: white;
  padding: 15px;
  text-align: center;
}